.dashboard-section {
  display: flex;
  flex-flow: row nowrap;
  /*margin-left: 2%;*/
  height: 25mm;
  width:38mm;
  /*align-items: flex-end;*/
}
.dashboard-section > button {
  /*margin-left: 10px;*/
}
.barcode-label-container {
  border: 1px solid #d1d8dd;
  width: fit-content;
  overflow: hidden;
}
.barcode-label {
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
  padding: 1.5mm;
  display: grid;
  height: 25mm;
  width:38mm;
  grid-template-columns: 1fr 6mm;
  grid-template-rows: 4mm 1fr 17.5mm;
  grid-template-areas: 'header footer' 'text footer' 'barcode footer';
  font-family: monospace;
  font-size: 8pt;
  /*line-height: 2.5;*/
  text-align: center;
}
.barcode-rotated {
  line-height: 6mm;
  transform: translate(calc(-12.5mm), 0) rotate(-90deg);
  transform-origin: center center;
  height: 6mm;
  width: calc(31mm);
}
.barcode-header {
  grid-area: header;
  text-transform: uppercase;
}
.barcode-text {
  grid-area: text;
  height: calc(10.8pt);
  overflow-y: hidden;
  align-self: center;
}
.barcode-area {
  grid-area: barcode;
  align-self: center;
}
.barcode-foot {
  grid-area: footer;
  font-size: 1.0em;
  align-self: center;
}
.barcode-strong {
  font-weight: bold;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  /*padding: 10px;*/
}

/* Clear floats after the columns */
.row:{
   margin-left: 2px;
}
